weather-app-page {
  margin: 50px auto;
}
.weather-app {
  max-width: 800px;
  padding: 20px;
  border: 2px solid;
  border-color: #1f6f8b;
  border-radius: 10px;
  background-color: #bbe1fa;
  font-family: "Viga", sans-serif;
  color: #0f4c75;
}
#search-form {
  margin: 2px 0 25px;
}

#city-input {
  border: 2px solid;
  border-color: #132743;
  border-radius: 5px;
  background-color: #ffffff;
}
#search-button {
  background-color: #3282b8;
  border-radius: 5px;
  border-color: #132743;
  color: #d6e3f7;
}
#current-location {
  background-color: #0f4c75;
  border-radius: 5px;
  color: #fff3e2;
}
h1 {
  margin: 0 0 20px;
  font-size: 48px;
  color: #01385e;
}
h3 {
  font-size: 20px;
}

#last-updated {
  margin-top: 0;
}

h4 {
  margin: 0 0 5px;
  font-size: 20px;
}
#weather-description::first-letter {
  text-transform: capitalize;
}
#icon {
  font-size: 100px;
}
.card-img-top {
  height: 100px;
  width: 100px;
}
.forecast {
  margin-top: 30px;
}
.card {
  border: 2px solid;
  border-color: #1f6f8b;
  border-radius: 10px;
  background-color: #c4e1f5;
}
