weather-app-page {
  max-width: 800px;
  margin: 50px auto;
}
.weather-app {
  padding: 20px;
  border: 2px solid;
  border-color: #1aa6b7;
  border-radius: 15px;
  background-color: #e8ffff;
  font-family: "Viga", sans-serif;
  color: #132743;
}
#search-form {
  margin: 10px 0 20px;
}

#city-input {
  border: 2px solid;
  border-color: #1aa6b7;
  border-radius: 5px;
  background-color: #fffff;
}
#search-button {
  background-color: #1aa6b7;
  border-radius: 5px;
  color: #e8ffff;
}
#current-location {
  background-color: green;
  border-radius: 5px;
  color: #e8ffff;
}
#city {
  margin: 0 0 20px;
  font-size: 48px;
}
h3 {
  font-size: 20px;
}

#last-updated {
  margin-top: 0;
}

}
#temp-today {
  margin-top: 0;
  font-size: 48px;
}
h4 {
  margin: 0 0 5px;
  font-size: 20px;
}
#weather-description::first-letter {
  text-transform: capitalize;
}
.card-img-top {
  height: 100px;
  width: 100px;
}
.forecast {
  margin-top: 30px;
}
.card {
  border: 2px solid;
  border-color: #1aa6b7;
  border-radius: 15px;
  background-color: #e8ffff;
}
